{% extends 'base.html.twig' %}
{% block h1 %} Notre Catalogue{% endblock %}

{% block body %}

<div class="col-lg-12">

    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
      </ol>
      <div class="carousel-inner" role="listbox" style="">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="{{asset('images/image1.png')}}"  style="height:100%;  width:100%; ">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image2.png')}}" style="height:100%;  width:100%; " >
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image3.png')}}" style="height:100%;  width:100%; ">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image4.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image5.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image6.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image7.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image8.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image9.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image10.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image11.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image12.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image13.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image14.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image15.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image16.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image17.png')}}" style="height:100%;  width:100%; ">
        </div>
              <div class="carousel-item">
          <img class="d-block img-fluid" src="{{asset('images/image19.png')}}" style="height:100%;  width:100%; ">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

{% endblock %}