
      <div class="card border border-secondary mx-2 my-4 text-center mx-auto" style="width: 18rem;">
          {% if produit.image|last is not empty %}
            {% set image = produit.image|last %} 
            <img class="card-img-top" src="{{ asset('/img/' ~ image.image01) }}" alt="" style="width:100%;">
          {% else %}
            <img class="" src="{{ asset('/img/') }}" alt="Aucune images disponible">
          {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ produit.titre }}</h5> <hr>
          <p class="card-text">Description Courte du produit.</p>
          <p class="card-text"> {{ produit.prix  }}€ </p>
          <p>
          {% set nbdenote = 0 %}
          {% set totalnote = 0 %}
          {% for note in produit.commentaires %}
            {% if note.etat.titre is same as("Refuser") %}
            {% else %}
              {% set totalnote = totalnote + note.note %}
              {% set nbdenote = (nbdenote + 1) %}
            {% endif %}
          {% endfor %}
          {% if nbdenote is same as(0) and totalnote is same as(0) %}
            {# Aucune note #}
          {% else %}
            {% set moyenne = totalnote /  nbdenote %}
            {% if moyenne <= 1.4 %}
            <h5 class="text-warning">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                ({{ moyenne|number_format(2) }})
            </h5>
            {% elseif moyenne >= 1.5 and moyenne <= 2.4 %}
            <h5 class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                ({{ moyenne|number_format(2) }})
            </h5>
            {% elseif moyenne >= 2.5 and moyenne <= 3.4  %}
            <h5 class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                ({{ moyenne|number_format(2) }})
            </h5>
            {% elseif moyenne >= 3.5 and moyenne <= 4.4 %}
            <h5 class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                ({{ moyenne|number_format(2) }})
            </h5>
            {% elseif moyenne >= 4.5 and moyenne <= 5 %}  
            <h5 class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                ({{ moyenne|number_format(2) }})
            </h5>
            {% endif %}
          {% endif %}
          

          </p>
          <a href="{{ path("produit_fiche", { id: produit.id }) }}" class="btn btn-success text-white">Voir le produit &raquo;</a>
        </div>
      </div>

 