{% extends "base.html.twig" %}

{% block h1 %}
        {%  if titre is defined %}
                {{ titre }}
        {% else %}
                Ajouter un produit
        {% endif %}

{% endblock %}
{% block body  %}
<section class="justify-content-center">
        <div class="row">
                        {% if produit is defined %}
                                {% if produit.image|last is not empty %}
                                        {% set image = produit.image|last %} 
                                        <img class="img-fluid" src="{{ asset('/img/' ~ image.image01) }}" style=" width:100%; height:auto;">
                                {% else %}
                                        <img class="" src="{{ asset('/img/') }}" alt="Aucune images disponible">
                                {% endif %}
                        {% endif %}
        </div>
        <div class="row justify-content-center">
                <form name="produit" method="post" enctype="multipart/form-data" class="col-md-7">

                        {{ form_row(form.titre) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.reference) }}
                        {{ form_row(form.volume) }}
                        {{ form_row(form.stock) }}
                        {{ form_row(form.certificat) }}
                        {{ form_row(form.categorie) }}
                        {{ form_row(form.prix) }}
                        
                {{  form_end(form) }}
                {{ form_row(form.enregistrer, { 'label': bouton }) }} 
                <div class="col-md-7"><a href="{{ path("produit") }}" class="btn btn-danger">annuler</a></div>               
        </div>
</section>
{% endblock %}



