<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NumanGardens{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}
    </head>
    <body>
        {% include "menu.html.twig" %}
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-2">
                <h1 class="h3 mb-0 text-gray-800">{% block h1 %}{% endblock %}</h1>
                
            </div>
            <main class="mb-4">
        {% block body %}{% endblock %}
            </main>
        </div>



        <footer class="d-flex flex-column">

            {# footer top #}
            <section class="col-md-12 py-4 footer-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="mx-auto text-center">
                                <img src="{{asset('images/logo.png')}}" alt="" >
                            </div>
                            <div class="div-footer1 mx-auto col-10 col-sm-10 col-md-6 text-center">
                                <h3>Numan Gardens</h3>
                                <p> Contact@hotmail.fr</p>
                                <a href="https://www.facebook.com/">Facebook</a>
                                <a href="https://twitter.com/home">Twitter</a>
                                <a href="https://www.instagram.com/">Instagram</a>
                                <h3>La Nature vous dévoile ses secrets </h3>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6" id="footer-right-img">
                        <div class=" mx-auto text-center m-5">
                            <img src="{{asset('images/footer2.jpg')}}" class="img-footer">
                        </div>
                    </div>
                </div>
            </section>

            {# footer middle #}
            <section class="col-md-12 pt-4 pb-2">
                <div class="col-md-6 mx-auto text-center div-footer2">
                    <a href="{{ path('contact') }}">Contact</a>
                    <a href="{{ path('cgv') }}">CGV</a>
                    <a href="{{ path('nous') }}">Qui sommes nous?</a>
                    {# <a href="#">Plan du site</a> #}
                    <a></a>
                </div>
            </section>

            {# footer copyright #}
            <section class="col-md-12 py-2">
                <div class="footer-copyright text-center text-dark">© 2020 Copyright:
                    <a style="color:lightblue;" href="/"> NumanGarden</a>
                </div>
            </section>
        </footer>

        
       {# <footer class="page-footer font-small bg-secondary">
                
            <section class="row d-flex justify-content-around p-4">
                <div class="col-md-6 mx-auto text-center d-flex flex-column ">   
                    <div><img src="{{asset('images/logo.png')}}" alt="" > </div>  
                    

                    <div class="div-footer1 p-3 col-md-8 mx-auto">
                        <h3>Numan Gardens</h3>
                        <p> Contact@hotmail.fr</p>
                        <a href="facebook.fr">Facebook</a>
                        <a href="twitter.fr">Twitter</a>
                        <a href="instagram.fr">Instagram</a>
                        <h3>La Nature vous dévoile ses secrets </h3>
                    </div> 

                </div>
                
                <div class="col-md-6 mx-auto text-center d-flex flex-column ">
                    <img src="{{asset('images/footer2.jpg')}}" class="img-footer">
                </div>
            </section>

            <section class="row section-footer2">
                <div class="col-md-6 mx-auto text-center div-footer2">
                    <a href="{{ path('contact') }}">Contact</a>
                    <a href="{{ path('cgv') }}">CGV</a>
                    <a href="{{ path('nous') }}">Qui sommes nous?</a>
                    <a href="#">Plan du site</a>
                </div>
            </section>

            <section class="row section-footer3">
                <div class="col-md-3 mx-auto">
                    <img src="{{asset('images/labelbio.jpeg')}}" alt="" class="labels">
                    <img src="{{asset('images/onssa.jpg')}}" alt="" class="labels">
                </div>
            </section>

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-dark">© 2020 Copyright:
                <a style="color:lightblue;" href="/"> NumanGarden</a>
            </div>
            <!-- Copyright -->

        </footer> #}
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </body>
</html>
